/* BODY*/
body {
    position: relative;
    background: #0B0F19 !important;
    font-family: 'Manrope', sans-serif;
}

h1 {
    color: #ffffff;
    font-size: 25px !important;
}

thead {
    color: #f6ff00;
}

tbody {
    color: #ffffff;
}

.no-border {
  border: none;
  padding: 0;
}

.backgroundCard {
  margin:  20px 20px;
  border: 1px solid #b6c90754;
  border-radius: 10px;
  background: linear-gradient(to right, #101e23, #111E23,#111E23,#1d2d34);
  padding: 10px;
  padding-bottom: 2vw;
}
.backgroundCardTurma {
  margin:  20px 20px;
  border: 1px solid #b6c90754;
  border-radius: 10px;
  background: linear-gradient(to right, #101e23, #111E23,#111E23,#1d2d34);
  padding: 10px;
  padding-bottom: 10vw;
}

.backgroundCardFeedback{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: top !important;
  width: 25vw !important;
  padding-top: 10vw;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

span {
    color: #f6ff00;
}

div .chatProfDiv{
    text-align:start;
    margin: auto 0 0 0;
    padding-left: 20px;
    max-width: 60vw;
}

.chatProf {
    color: #ffffff;
}

div .filtroData {
    margin: 20px 10px 0 0;
}

span {
    color: #ffffff;
}



/* TEXTAREA */
textarea{
    min-height: 300px !important;
}

.textarea2{
    margin: 10px 50px 20px 0;
    min-height: 200px !important;
    max-width: 100vw;
}

/* MENU */

.navbar {
    background: #000000;
}

.navbar a {
    color: rgb(255, 255, 255);
}

.navbar :hover{
    color: #f6ff00 !important;
}

.navbar a {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 130px; 
    height: auto; 
  }

/* LOGIN & LOGOUT */
.backgroundCadastroLogin {
    background: linear-gradient(to right, #2d3921, #1C1A2F) !important;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.form-card{
    width: 50vw;
    background-color: white;
    padding: 3em;
    border-radius: 10px;
    margin-bottom: auto;
    margin-top: auto;
    box-sizing: border-box;
}

.botao-login{
    justify-self: end;
}

hr{
    width: 100%;
}

.bg-dark {
    color: white;
}

/* ALUNOS */

.card-img-top {
    width: 200px !important;
    min-height: 20vh;
    max-height: 600vh;
    margin: 10px;

}

.card-base {
    margin: 10px;
}


/*CARDS ALUNOS DA TURMA*/
div .card {
    background-color: rgba(214, 214, 216, 0);
    padding: 0;
    color: #ffffff;
    height: 20vh;
    padding: 30px;
    
}

div .card a {
    text-decoration: none;
    padding: 0;
}
div.cards.card {
    padding: 0;
    margin: 0;
}

.card-img-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 50px;
}

.card-img-top img {
  margin-bottom: 0px;
  width: 50%;
  border-radius: 50%;
}

.card-img-top .custom-title {
  margin: 0;
}

.card.no-border {
  border: none;
}
  
/*FOTOS PERFIL FEEDBACK E REVIEW*/

.fotoFeed {
  width: 80px;
  height: 80px;
}


/*RESPONSIVIDADE*/
/*TABLETS GRANDES*/
@media (min-width: 416px) and (max-width: 800px){
  body {
      font-size: 14px !important;
  }
  .navbar a img {
    width: 40px !important;
  }
  .backgroundCard {
    width: 500px !important;
    font-size: 13px;
  }
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-img-top.card-body {
    margin: 0;
  }
  .backgroundCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
  }
  .container-fluid{
    width: 100% !important;
  } 
  .form-card{
    width: 90vw;
  }
}
/*SMARTPHONES MÉDIOS*/
@media (min-width: 321px) and (max-width: 415px){
  body {
      font-size: 14px !important;
  }
  .navbar a img {
    width: 40px !important;
  }
  .backgroundCard {
    width: 330px !important;
    font-size: 10px;
  }
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-img-top.card-body {
    margin: 0;
  }
  .backgroundCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
  }
  .container-fluid{
    width: 100% !important;
  }
  .form-card{
    width: 90vw;
  }


}

/*SMARTPHONES PEQUENOS*/
@media (max-width: 320px) {
  body {
      font-size: 14px !important;
  }
  .navbar a img {
    width: 40px !important;
  }
  .backgroundCard {
    width: 290px !important;
    font-size: 9px !important;
  }
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-img-top.card-body {
    margin: 0;
  }
  .backgroundCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
  }
  .container-fluid{
    width: 100% !important;
  } 
  .form-card{
    width: 90vw;
  }
}